*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(207, 180, 252);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 350px) {
    .wrapper {
         overflow-y: scroll;
    }
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 20em;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 2px 1px 3px  rgba(0, 0, 0, 0.301);
    padding: 1em;
    overflow: hidden;
}

.main__nav_box {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%; 
}

header h1 {
    padding-left: .5em;
    border-bottom: 2px solid whitesmoke;
}

.box-nav {
    width: 70%;
    margin-top: 1.5em;
    margin-right: 1em;
}

ul {
    text-align: center;
    padding: .5em;
    margin-left: 1em;
}

ul li {
    list-style-type: none;
    padding: .5em;
    
}

.box-nav nav a {
    text-transform: none;
    text-decoration: none;
    align-items: center;
    color: black;
    font-weight: 600;
}

.box-nav nav a:hover {
    
    border-bottom: 2px solid whitesmoke;
    color: purple;
    width: 100%;
}

 main {
    margin-top: 1em;
    margin-left: 1em;
    height: 100%;
    padding: 10px;
    overflow: hidden;
 } 

 main p {
    display: flex;
 }

 h2 {
    margin-bottom: .5em;
 }